.com { color: #93a1a1; }
.lit { color: #777; }
.pun, .opn, .clo { color: #005; }
.fun { color: #dc322f; }
.str, .atv { color: #5882ab; }
.kwd, .linenums, .tag { color: #40404c; }
.typ, .atn, .dec, .var { color: #666; }
.pln { color: #40404c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
